<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>central</id>
        </server>
        <server>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <id>local1</id>
                    <name>local1</name>
                    <url>http://127.0.0.1:8000</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <id>central</id>
                    <name>libs-releases</name>
                    <url>https://vimond.jfrog.io/vimond/libs-releases</url>
                </repository>
                <repository>
                    <snapshots>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                    <id>snapshots</id>
                    <name>libs-snapshots</name>
                    <url>https://vimond.jfrog.io/vimond/libs-snapshots</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <id>local1</id>
                    <name>local1</name>
                    <url>http://127.0.0.1:8000</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <id>central</id>
                    <name>plugins-releases</name>
                    <url>https://vimond.jfrog.io/vimond/plugins-releases</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                    <id>snapshots</id>
                    <name>plugins-releases</name>
                    <url>https://vimond.jfrog.io/vimond/plugins-releases</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>